@mixin styleValue{
    font-size: 4px;
    display: flex;
    align-items: center;
}
.container{
    .row{
        display: flex;
        align-items: center;
        .switch{
            position: relative;
            display: inline-block;
            width: 51px;
            height: 28px;
            
            input { 
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .slider {
                    background-color: #2196F3;
                }
                &:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }
                &:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }

            .slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 15px;
                    width: 15px;
                    left: 4px;
                    bottom: 7px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }
            }
            .slider.round {
                border-radius: 34px;
                font-size: 10px;
                &:before {
                    border-radius: 50%;
                  }
            }
            .textarea{
                @include  styleValue;
                justify-content: flex-end;
            }
            .text{
                @include  styleValue;
                padding: 0 5px;
            }
        }
    }
}