.container{
    width: 100%;
    .contentInput{
        position: relative;
        .input{
            width: calc(100% - 30px);
            padding: 0 20px 0 10px;
            text-overflow: ellipsis; 
        }
        .icon{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 25%;
            right: 0;
        }
        .IconShow{
            transform: rotate(180deg);
            transition-delay: 0.1s
        }
        .IconUnShow{
            transform: rotate(0);
            
        }
    }
    .content{
        width: 100%;
        position: relative;
        // border: 1px solid #000;
        .title{
            margin: 0;
            padding: 20px;  
            &:hover{
                background-color: rgba(96, 90, 90, 0.3215686275);
            }      
        }
        .contentShow{
            border: 1px solid #000;
            .title{
                .resultItem{
                    margin: 0;
                }
            }
        }
        .show{
            width: 100%;
            background-color: #fff;
            z-index: 99;
           display: block;
           transition: 1s;
          
           transform: translateY( 0 ) ;
        }
        .unShow{
            // visibility: hidden;
            
            display: none;
            border: none;
            transform: translateY( -5px) ;
        }
        .contentNull{
            width: calc(100% + 4px);
            height: 100px;
            background-color: #dddddd;
            display: flex;
            align-items: center;
            justify-content: center;
            .row{
                opacity: 0.3;
                .contentImg{
                    text-align: center;
                    .iconBox{
                        width: 30px;
                        height: 30px;
                        
                    }
                }
               
                .title{
                    font-size: 17px;
                    margin: 0;
                    text-align: center;
                    padding: 10px;
                }
            }
            
        }
    }
}