@mixin size {
    width: 500px;
}
.container{
    .content{
        .contentValue{
            max-width: 500px;
            width: calc(100% - 20px);
            min-height: 50px;
            border: 1px solid #030303;
            padding: 0 10px;
            display: flex;
            flex-flow: wrap;
            align-items: center;
            position: relative;
            .item{ 
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0 3px 5px 0;
                // width: 20px;
                height: 30px;
                border-radius: 4px;
                background-color: aqua;
                padding: 0 5px;
                color: #fff;
                .close{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: antiquewhite;
                    margin-left: 2px
                }
            }

            .input{
                flex: 1;
                border: none;
                outline: none;
                max-height: 50px;
                font-size: 15px;
            }
        }
        .contentOption{
            
            @include size;
            height: 100% ;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 99;
            background-color: #fff;
            .contentData{
                .title{
                    margin: 0;
                    padding: 10px 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: aqua;
                    }
                }
                .active{
                    background-color: aqua;
                    @extend .title;
                }
            }
            .showData{
                display: block;
                border: 1px solid #030303;
            }

            .unShow{
                display: none;
                border: none;
            }
            
            .notData{
                
                .contentNotData{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: #c8c8c8;
                    opacity: 0.3;
                    .img{
                        width: 100px;
                        height: 100px;
                    }
                    .text{
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}