@mixin size {
    width: 500px;
    height: 50px;
}
.container{
    .content{
        .contentValue{
            width: 500px;
            min-height: 50px;
            border: 1px solid #030303;
            padding: 0 10px;
            display: flex;
            flex-flow: wrap;
            align-items: center;
            .item{ 
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0 3px 5px 0;
                // width: 20px;
                height: 30px;
                border-radius: 4px;
                background-color: aqua;
                padding: 0 5px;
                color: #fff;
                .close{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: antiquewhite;
                    margin-left: 2px
                }
            }

            .input{
                flex: 1;
                border: none;
                outline: none;
                max-height: 50px;
                font-size: 15px;
            }
        }
        .contentOption{
            border: 1px solid #030303;
            @include size;
            height: 100% !important;
            .title{
                margin: 0;
                padding: 10px 20px;
                cursor: pointer;
                &:hover{
                    background-color: aqua;
                }
            }
        }
    }
}