.container{
    border: 3px solid #000;
    margin-top: 50px;
    padding: 10px;
    .content{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            .label{
                font-size: 15px;
                margin-right: 5px;
                
            }
            .inputNote{
                width: 100%;
                height: 30px;
                margin-left: 21px;
            }
            .select{
                width: 100%;
                height: 35px;
                outline: none;
                .item{
                    font-size: 15px;
                    opacity: 1;
                }
                .grender{
                    opacity: 0.2;
                }
            }
        }
    }
}