.container{
    width: 100%;
    .content{
        position: relative;
        .input{
            height: 40px;
            width: 100px;
            border-width: 1px;
            border-color: #00000026;
            outline: none;
            font-size: 15px;
            padding: 0 30px 0 10px;
            text-align: center;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button{
                -webkit-appearance: none;
                margin: 0;
            }

        }
        .inputPbr{
            padding-right: 10px;
        }
        .contentRow{
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 7px;
            top: 0;
            bottom: 0;
            .arrow{
                width: 20px;
                height: 20px;
                border: 1px solid #00000026;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    width: 12px;
                    height: 12px;
                }
                .iconUp{
                    transform: rotate(180deg);
                }
                &:hover{
                    height: calc(100% + 4px);
                }
            }
        }
    }
    
}