@mixin size{
    width: 16px;
    height: 16px;
}
.img{
   @include size;
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 5px;
}
.imgClose{
    @include size;
    position: absolute;
    z-index: 3;
    top: 25%;
    right: 5px;
    opacity: 0.5;
}
.container{
    .content{
        position: relative;
        .input{
            text-overflow: ellipsis; 
            width: calc(100% - 45px);
            height: 40px;
            position: relative;
            background-color: #fff !important;
            padding: 0 20px 0 25px;
            border-width: 1px ;
            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }
            &:hover {
                border-color: #1890ff;
            }
        }
        .h40{
            height: 40px;
            font-size: 18px;
        }
    }
    .showPass{
        position: absolute;
        top: 25%;
        right: 5px;
        .icon{
            @include size;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
        }
    }
    
}